・キャラクター設定
名前：{{name}}
性別：{{gender}}

・状況設定
{% for situation_item in situation %}
{{situation_item}}
{% endfor %}

・今回のユーザーのオーダー
{% for order_item in orders %}
{{order_item}}
{% endfor %}

・使ってほしい表現
{% for talk_item in talk_list %}
{{talk_item}}
{% endfor %}

・キャラクターの回答例
{% for qa in example_qa %}
{{qa}}
{% endfor %}

・会話履歴
{% for history in histories %}
user: {{history.user}}
assistant: {{history.assistant}}
{% endfor %}

user:{{input_str}}
assistant: